

<li>
<% if !me?(user) %>
<tbody>
<tr>
  <% @user = user %>
  <td><%= gravatar_for @user %> <br>
   <%= @user.name %> </td>
  <td> <%= @user.id %> </td>
  
  <span class="profile-link">
  <td><%= link_to 'See Profile',  user_path(@user), class: 'profile-link profile-link-btn' %><br> <br>
      <% if !friend?(@user)%>
        <%= link_to 'Add Friend',friendships_path(:friendship => {:friend_id => @user.id}),
                                                                    method: :post,
                                                                     class: 'profile-link profile-link-btn' %> </td>
      <% end %>
  </span>
  <% end %>
  </tr>
  </tbody>
</li>
