
<h3 class= "request-header"><%= "Friend Requests" %></h3>

<% if @friend_requests.nil? || @friend_requests.empty? %> <br><br>
    <p>No Friend Request Found<p>
<% else %>
    <% @friend_requests.each do |request| %>
        <% sender = User.find(request.user_id) %>
        <%= sender.name %> sent you a request. <br>
        <%= link_to 'Accept', friendship_path(request.id),method: :patch , class: "btn btn-primary" %>
        <%= link_to 'Ignore', friendship_path(request.id),method: :delete, class: "btn btn-danger" %>
    <% end %>
<% end %>

<br><br><br><br>

<h3  class= "request-header"><%= "Sent Requests" %></h3> <br>

<% if @pending_requests.empty? %>
    <p>Add Few friends! meh<p>
<% else %>
    <% @pending_requests.each do |request| %>
        <% friend = User.find(request.friend_id) %><br>
       <strong><%= friend.name %>:</strong>pending request<br>
    <% end %>
<% end %>




