
<h3 class= "request-header"><%= "Friend Requests" %></h3>

<% if  @inverted_friendships.empty? %> <br><br>
    <p>No Friend Request Found<p>
<% else %>
    <% @inverted_friendships.each do |request| %>
        <%= request.user.name %> sent you a request. <br>
        <%= link_to 'Accept', friendship_path(request.id),method: :patch , class: "btn btn-primary" %>
        <%= link_to 'Ignore', friendship_path(request.id),method: :delete, class: "btn btn-danger" %>
    <% end %>
<% end %>

<br><br><br><br>

<h3  class= "request-header"><%= "Sent Requests" %></h3> <br>

<% if @pending_friends.empty? %>
    <p>Add Few friends! meh<p>
<% else %>
    <% @pending_friends.each do |friend| %>
       <strong><%= friend.name %>:</strong>pending request<br>
    <% end %>
<% end %>




